[Unit]
Description=Nginx Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/bin/docker start -a nginx
ExecStop=/bin/docker stop nginx
ExecReload=/bin/docker kill -s HUP nginx

[Install]
WantedBy=multi-user.target
