[Unit]
Description=Docker Registry Service
Requires=registrator.service
Requires=consul.service

[Service]
Restart=on-failure

# Use envconsul to create env-file with docker-reg env vars
ExecStartPre=/bin/sh -c "/usr/bin/env -i \
    /bin/envconsul -addr=consul-http.service.consul:8500 docker-reg \
    /usr/bin/env > /tmp/docker-reg.env"

# Start an existing container, or run a new one if one does not exist.
ExecStart=/bin/bash -c \
    "/bin/docker start -a docker-reg \
    || /bin/docker run \
    --name docker-reg \
    --env-file /tmp/docker-reg.env \
    -e SERVICE_NAME=registry \
    -p {{ private_ip }}:5000:5000 \
    -v /var/docker_volumes/registry:/registry \
    {{ docker_reg_image }}"

ExecStop=/bin/bash -c \
    "/bin/docker stop docker-reg \
    && /bin/docker rm docker-reg"

[Install]
WantedBy=multi-user.target
