[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io
After=network.target
Requires=docker.socket

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/docker

# Add iptables rules to accept packets from docker0
ExecStartPost=/sbin/iptables -I INPUT -i docker0 -j ACCEPT
ExecStop=/sbin/iptables -D INPUT -i docker0 -j ACCEPT

ExecStart=/usr/bin/docker -d --dns {{ private_ip }} --dns 8.8.8.8 --dns-search service.consul --selinux-enabled -H fd://
Restart=on-failure
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
