[Unit]
Description=Riak CS Service
After=docksul.service
Requires=docksul.service

[Service]
Restart=always
ExecStart=/bin/docker start -a riak-cs
ExecStop=/bin/docker stop riak-cs

[Install]
WantedBy=multi-user.target
