[Unit]
Description=Registrator Service
After=consul.service
Requires=consul.service

[Service]
Restart=on-failure

ExecStart=/bin/bash -c \
    "/bin/docker start -a registrator \
    || /bin/docker run \
    --name registrator \
    -v /var/run/docker.sock:/tmp/docker.sock \
    -e DOCKER_HOST=unix:///tmp/docker.sock \
    {{ registrator_image }} \
    consul://{{ private_ip }}:8500"

ExecStop=/bin/bash -c \
    "/bin/docker stop registrator \
    && /bin/docker rm registrator"

[Install]
WantedBy=multi-user.target
